$primary-color: #7aeb7e;

$btn-color: #70dbff;
$btn-padding: 12px 24px;

$title-font-family: 'Atari', sans-serif;
$title-color: #333;

$container-width: 100%;

$text-background-color: #fc8181;
$text-padding: 20px;

$card-background-color: #ffaef2;
$card-padding: 16px;
$card-border-radius: 12px;
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$card-border-color: #ff6ffb;
$card-width: 18rem;

$card-hover-transform: translateY(-0.1rem);